<a href="https://colab.research.google.com/github/ywhcho/numer1/blob/main/chapter1_0_colab%EC%82%AC%EC%9A%A9%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##단축키
# ctrl +enter: 내 현재 커서의 셀을 실행
# shift+enter: 현재 셀을 실행하고 커서을 다음 셀로 이동
# alt + enter: 내 현재 셀을 실행하고 다음 셀을 신규로 생성

# ctrl+ m + a : 내 셀 앞에 신규 셀 생성
# ctrl+ m + b : 내 셀 뒤에 신규 셀 생성
# ctrl+ m + d : 현재 셀을 삭제
# ctrl+ m + z : 삭제한 셀 되돌리기

# ctrl+ m + i : 실행 중인 셀 실행 중지

In [ ]:
## drive 파일 접근
# cd
# pwd

In [ ]:
cd /content/sample_data

/content/sample_data

In [ ]:
pwd

'/content/sample_data'

In [ ]:
message = "Hello, Welcomt to Python World!!"

In [ ]:
my_Number = 3.141592    #int, float

In [ ]:
##data
#단일 데이터 타입:  Mumerical(숫자자료형), Character/String(문자 자료형)
#묶음 데이터 타입: List자료형, Tuple자료형, Dictionaary, Set(집합)자료형

In [ ]:
korean, math, english, science= 90, 60, 65, 100
##덧셈
total_score= korean + math + english + science
print(total_score)
##뺄셈
korean_minus_math = korean - math
print(korean_minus_math)
##곱셈
korean_double= korean * 2
korean_square = korean ** 2;  #제곱연산자
print(korean_square)
korean_root = korean ** (0.5) #제곱근 연산
print(korean_root)
##나눗셈
average = total_score / 4
print(average)
# 나머지 연산자
modulus = total_score % 4
print(modulus)
#몫 연산자
quotient = total_score //4
print(quotient)

315
30
8100
9.486832980505138
78.75
3
78

In [ ]:
##스트링
# String type 내 따옴표 특수 문자 넣기
hello= "hi Python 'my name is JAVA'"
hello2 = 'JAVA said "my name is JAVA"';
print(hello)
print(hello2)
## multi-line String :  (''' ''') 또는 (""" """)
sentences= '''
hello world
my name is Python
Welcome to phthon world
'''
print(sentences)

hi Python 'my name is JAVA'
JAVA said "my name is JAVA"

hello world
my name is Python
Welcome to phthon world

In [ ]:
##문자열 덧셈 연산
birthday = "05/20"
sentence = "My birthday is " + birthday

print(sentence)

###문자열 곱셈 연산
word= "Hello"
print(word * 3)

My birthday is 05/20
HelloHelloHello

In [ ]:
## indexing(문자열 인덱싱)
sentence = "Hello world"
print(sentence[0])
print(sentence[1])
# 마이너스 인덱싱은 끝자기가 -1로 부터 시작한다.
print(sentence[-1])
print(sentence[-2])
## slicing(슬라이싱) (숫자는 0부터 시작하는 실제 숫자)
print(sentence[0:5])  # 0 ~4
print(sentence[:])    # 전체
print(sentence[5:])   # 5번째 부터
print(sentence[:5])   # 처음부터 4번째까지
print(sentence[:-2])  # 처움부터 뒤에서 2번째 직전까지

H
e
d
l
Hello
Hello world
 world
Hello
Hello wor

In [ ]:
##문자열의 Formatting: 문자열 안의 특정 값을 원하는 대로 넣어 편집하는 방법
# "{index}".format(변수명)  #{} :braces   []: brackets  (): parenthesis
name = "Python"
date = "0217"
print("Hello, {0}, today is {1}".format(name, date))

## F-string Formatting  (Py3.6이상)
#sentence= f"Hello my name is { name }"
sentence= f"Hello,{name}, today is {date}"
print(sentence)

Hello, Python, today is 0217
Hello,Python, today is 0217

In [ ]:
##문자열 다루기:
#count 함수
go_to_hell = """
11111111111111111111
1111111111u111111111
"""
k= go_to_hell.count('1')
print(k)
#find
go_to_hell.find('1')
print(go_to_hell.find('hello'))  #있으면, 위치 return, 문자열이 없을 때는 -1 return
i= go_to_hell.find('u')
print("i=",i)
#len  : 문자열의 길이
sentence= "hello my name is python"
print(
    len(sentence)
)

39
-1
i= 32
23

In [ ]:
#lower, upper 함수
word = 'word'
new_word= word.upper()

print("Upper:", new_word)
print("Lower:", new_word.lower())

Upper: WORD
Lower: word

In [ ]:
##replace, split
#[replace]  바꾸는 기능
sentence= 'hello, world, my, name, is, python'
sentence1= sentence.replace(',', '!')
#print(sentence)
print(sentence1)
#[split] 특정 문자열을 기준으로 쪼개는 기능:
temp= sentence1.split('!')  #list 자료형으로 return한다.
print(temp)

hello, world, my, name, is, python
hello! world! my! name! is! python
['hello', ' world', ' my', ' name', ' is', ' python']